body {
  overflow: hidden;
  margin: 0;
  font-family: "Courier New", Courier, monospace;
  font-size: 18px;
  color: white;
  background-color: #3366ff;
}

@media (min-width: 1200px)
.container {
    max-width: 1500px;
}

/* @media (min-width: 992px) */
.container {
  max-width: 2600px;
}

.Panel {
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;

	/* No support for these yet */
	-o-user-select: none;
	user-select: none;
}

.topBar {
  background-color: #E1F5FE;
  height: 40px;
}
.title {
  margin-top: 5px;
  font-family: "Courier New", Courier, monospace;
  font-size: 25px;
  text-align: center;
  font-weight: bolder;
  justify-content: center;
  position: absolute;
}

/* .col-renderer {
  width: 900px;
} */

/* .col-special {
  width: calc(100% - 900px);
  width: -o-calc(100% - 900px);
  width: -webkit-calc(100% - 900px);
  width: -moz-calc(100% - 900px);
  height: 570px;
} */

.col-renderer {
  width: 80%;
}

.col-special {
  width: 20%;
  height: 80%;
}

.main {
  padding-right: 0px;
  padding-left: 0px;
  margin-left: 0px;
  margin-right: 0px;
}

.bottomBar {
  vertical-align: bottom;
  justify-content: flex-end;
}

/* .timelineBar {
  width: 100%;
  height: calc(100% - 570px);
  height: -o-calc(100% - 570px);
  height: -webkit-calc(100% - 570px);
  height: -moz-calc(100% - 570px);
} */

.timelineBar {
  width: 100%;
  height: 20%;
}

.keyframes {
  left: 10px;
  margin-top: 70px;
}

.currentKeyFrame {
  left: 10px;
  margin-top: 125px;
}

.timelineCanvas {
  margin-right: 10px;
}

/* #renderer {
  width: 80%;
  height: 80%;
} */

.ui {
  position: absolute;
  width: 100%;
}

.timeline {
  bottom: 0;
}

.timelineEditor {
  bottom: 0;
  /* background-color: #656565; */
}

button{
  margin: 20px;
}

.playButton {
  background-color: Transparent;
  background-repeat:no-repeat;
  border: none;
  outline: none;
}

/* .playButton.pause {
  width: 74px;
  height: 74px;
  border-color: #202020;
  border-style: double;
  border-width: 0px 0px 0px 37px;
}

.playButton.play {
  box-sizing: border-box;
  width: 74px;
  height: 74px;
  border-width: 37px 0px 37px 74px;
  border-color: transparent transparent transparent #202020;
} */

/* .playButton {
  border: 0;
  background: transparent;
  box-sizing: border-box;
  width: 0;
  height: 74px;

  border-color: transparent transparent transparent #202020;
  transition: 100ms all ease;
  cursor: pointer;

  // play state
  border-style: solid;
  border-width: 37px 0 37px 60px;

  &.paused {
    border-style: double;
    border-width: 0px 0 0px 60px;
  }

  &:hover {
    border-color: transparent transparent transparent #404040;
  }
} */

#player {
	width: 100px;
	height: 50px;
	position: relative;
	/* margin: 0 auto; */
  margin-right: 10px;
  margin-left: auto;
	top: 80px;

	i {
		position: absolute;
		margin-top: -6px;
		color: #666;
	}

	i.fa-volume-down {
		margin-left: -8px;
	}

	i.fa-volume-up {
		margin-right: -8px;
		right: 0;
	}
}

#volume {
	position: absolute;
	left: 24px;
	margin: 0 auto;
	height: 5px;
	width: 100;
	background: #555;
	border-radius: 15px;

	.ui-slider-range-min {
		height: 5px;
		width: 100px;
		position: absolute;
		background: $primary-color;
		border: none;
		border-radius: 10px;
  	outline: none;
	}

	.ui-slider-handle {
		width: 20px;
  	height: 20px;
		border-radius: 20px;
  	background: #FFF;
  	position: absolute;
  	margin-left: -8px;
  	margin-top: -8px;
  	cursor: pointer;
  	outline: none;
	}
}

/* Region handles */
.wavesurfer-handle {
  width: 5px !important;
  max-width: 5px !important;
  border: 1px solid #ddd;
  background-color: rgba(238, 238, 238, 0.1);
  box-sizing: border-box;
}

.wavesurfer-handle-end {
  margin-left: -10px;
}

.wavesurfer-handle:before,
.wavesurfer-handle:after {
  content: '';
  display: block;
  position: absolute;
  z-index: 1;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  height: 4px;
  left: 5%;
  right: 5%;
  top: 50%;
  transform: translateY(-50%);
}

.wavesurfer-handle:before {
  margin-top: -3px;
}
