body {
  overflow: hidden;
  margin: 0;
  font-family: "Courier New", Courier, monospace;
  font-size: 18px;
  color: white;
  background-color: #4a7e65;
}

.Panel {
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;

	/* No support for these yet */
	-o-user-select: none;
	user-select: none;
}

.top {
  margin-top: 20px;
  font-family: "Courier New", Courier, monospace;
  font-size: 18px;
}

.bottomBar {
  margin-top: 590px;
  vertical-align: bottom;
}

.keyframes {
  left: 10px;
  margin-top: 60px;
}

.currentKeyFrame {
  left: 10px;
  margin-top: 125px;
}

.time {
  right: 10px;
}

.timelineCanvas {
  margin-right: 10px;
}

.ui {
  position: absolute;
  width: 100%;
}

.mainRenderer {
  top: 0;
  height: 80%;
}

.timeline {
  bottom: 0;
}

.timelineEditor {
  bottom: 0;
  /* background-color: #656565; */
}

button{
  margin: 20px;
}
