body {
  overflow: hidden;
  margin: 0;
  font-family: "Courier New", Courier, monospace;
  font-size: 18px;
  color: white;
}

.top {
  margin-top: 20px;
  font-family: "Courier New", Courier, monospace;
  font-size: 18px;
}

.bottomBar {
  margin-top: 660px;
  vertical-align: bottom;
}

.keyframes {
  left: 10px;
  margin-top: 60px;
}

.currentKeyFrame {
  left: 10px;
  margin-top: 125px;
}

.time {
  right: 10px;
}

.ui {
  position: absolute;
}

button{
  margin: 20px;
}
