body {
  overflow: hidden;
  margin: 0;
}

.top {
  margin-top: 20px;
  font-family: "Courier New", Courier, monospace;
  font-size: 18px;
}

.time {
  right: 10px;
  margin-left: auto;
  color: white;
  font-family: "Courier New", Courier, monospace;
  font-size: 18px;
}

.ui {
  position: absolute;
}

button{
  margin: 20px;
}
